.button {
    align-self: center;
    background: #333;
    border-radius: 50%;
    cursor: pointer;
    display: flex;
    justify-self: center;
    transition: filter 0.3s ease-in;
}

@media only screen and (min-width: 1550px) {
    .button {
        font-size: 52px;
        height: 110px;
        width: 110px;
    }
    .button.zero {
        padding-left: 18%;
    }
}

@media only screen and (min-width: 1200px) and (max-width: 1549px) {
    .button {
        font-size: 42px;
        height: 80px;
        width: 80px;
    }
    .button.zero {
        padding-left: 17%;
    }
}


@media only screen and (min-width: 960px) and (max-width: 1199px) {
    .button {
        font-size: 32px;
        height: 64px;
        width: 64px;
    }
    .button.zero {
        padding-left: 16%;
    }
}

@media only screen and (min-width: 768px) and (max-width: 959px) {
    .button {
        font-size: 24px;
        height: 48px;
        width: 48px;
    }
    .button.zero {
        padding-left: 16%;
    }
}

@media only screen and (min-width: 481px) and (max-width: 767px) {
    .button {
        font-size: 45px;
        height: 84px;
        width: 84px;
    }
    .button.zero {
        padding-left: 16%;
    }
}

@media only screen and (max-width: 480px) {
    .button {
        font-size: 36px;
        height: 72px;
        width: 72px;
    }
    .button.zero {
        padding-left: 15%;
    }
}

.button:hover {
    filter: brightness(130%);
}

.button:active {
    filter: brightness(200%);
    transform: scale(0.95);
}

.button.zero {
    width: 100%;
    grid-column: 1 / span 2;
    border-radius: 57.5px;
    position: relative;
    justify-content: flex-start;
    box-sizing: border-box;
}

.button.nothing {
    all: unset;
}

.button.function {
    color: #000;
    background: #a6a6a6;
}

.button.operation {
    background: #ff9501;
}
